@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.App {
  text-align: center;
}

.heading{
  font-family: 'Source Sans 3', sans-serif;
  margin-top:20vh!important;
}
body{
  background: url(./bg.jpg);
  height:120vh;
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 4rem!important;
  color:white!important;
}

.card-header{
  font-size:1.5rem!important;
  color:white;
}

.card{
  background:  #9FCECE;
  border:2px solid black!important;

}

.card-body{
  display: flex!important;
  flex-direction: column!important;
  justify-content: space-evenly!important;
}

.card-footer{
  height:15vh!important;
}

button{
  outline:none!important;
  color:black!important;
  background:white!important;
}

button:hover{
  outline:black!important;
}
.btn-w{
  background-color:teal!important;
  color:white!important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-success{
  border: 5px solid greenyellow!important;
}

.btn-danger{
  border: 5px solid red!important;
}
.top{
  margin-top: 20vh!important;
}

input[type="text"]{
  border:none;
  padding: 5px;
}

input:focus{
  border:none!important;
  outline:none!important;
}

.head{
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 800;
  text-decoration: italic;
}

.footer{
  color:white;
  font-family: 'Source Sans 3', sans-serif;
}

@media (max-width:670px) {
  .card-header{
    font-size:1rem!important;
  }  
}
